@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@keyframes lista {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1);
		transform-origin: center center;
	}

	10% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	17% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}

	33% {
		animation-timing-function: ease-in;
		transform: scale(0.87);
	}

	45% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header img {
    height: 3.5vh;
}

header {
    background-color: #000048;
    display: flex;
    justify-content: space-around;
    padding: 25px;
    align-items: center;
}

header h1 {
    color: white;
    text-transform: uppercase;
}



ul {
    display: flex;
    gap: 15px;
}

ul :hover{
    animation: lista 2s ease 0s 1 normal forwards;
}

a {
    color: white;
}

li :hover {
    color: #ca3acf;
}


main h6 {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin: 25px;
    color: white;
    font-size: 2em;
}

main h2 {
    color: white;
}

footer {
    display: flex;
    justify-content: center;
    color: white;
    background-color: #000048;
    padding: 30px;
    width: 100%;
    align-items: center;
}

footer p {
    padding-right: 25px;
}

.icones {
    display: flex;
    gap: 10px;
}

main {
    background-image: linear-gradient(to right top, #d16ba5, #ad5394, #893d83, #652872, #401660, #350f4f, #2a083e, #20002f, #220020, #1e0015, #150008, #000000);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;    
}

main h4 {
    color: white;
    font-size: 2em;
    text-decoration: underline;
}



.paiform {
    width: 20%;

}


form {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
}

form button{
    margin-top: 25px;
}

button {
    color: black;
    text-transform: uppercase;
    font-weight: 800;
}


tr > td > img {
    height: 10vh;
}

label {
    color: rgb(255, 255, 255);
}

h2 {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

td {
    text-align: center;
}

li {
    color: rgb(0, 0, 0);
}

h5 {
    font-size: 2em;
    color: rgb(0, 0, 0);
    font-style: italic;
    text-align: center;
}

ol {
    border: 2px solid black;
    padding: 15px;
    
}

.paifunc {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

div img {
    height: 2vh;
}

table {
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #fff8f8;
    padding: 5px;
    font-weight: bold;
    color: white;
}




.paitabela{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}